main {
  padding: 20px 0 200px;
  min-height: calc(100vh - 180px);

  .images-container {
    max-width: 1080px;
    margin: 0 auto;

    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      text-align: center;
      font-size: 32px;
      transition: .5s;
    }

    p {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      text-align: center;
      opacity: 0%;
      transition: .5s;
    }

    .line {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      width: 60%;
      height: 4px;
      opacity: 0%;
      transition: .5s;
      z-index: 1;
    }

    .image-container {
      position: relative;
      cursor: pointer;
    }

    .left-image-container {
      width: 677px;
      height: 500px;
    }

    .right-image-container {
      width: 375px;
      height: 500px;
    }

    .bottom-image-container {
      width: 1080px;
      height: 405px;
    }

    .image {
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
      filter: brightness(85%);
      transition: .3s;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    .right {
      background-image: url(../../../images/mainPhotos/stairsBefore.jpg);
    }

    .right:hover {
      background-image: url(../../../images/mainPhotos/stairsAfter.jpg);
    }

    .left {
      background-image: url(../../../images/mainPhotos/gardenFurniture.jpg);
    }

    .bottom {
      background-image: url(../../../images/mainPhotos/furnitures2.jpg);
    }

    .main-images-container,
    .bottom-images-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .image-container:hover {
      .image {
        filter: brightness(50%);
      }

      h1 {
        top: 40%;
      }

      .line {
        top: 50%;
        opacity: 100%;
      }

      p {
        top: 70%;
        opacity: 100%;
      }
    }
  }
}

@media (max-width: 950px) {
  main {
    .images-container {
      .left-image-container {
        height: 400px;
      }

      .right-image-container {
        height: 400px;
      }

      .bottom-image-container {
        height: 305px;
      }
    }
  }
}

@media (max-width: 750px) {
  main {
    .images-container {

      .main-images-container {
        flex-wrap: wrap;
        justify-content: center;
      }

      h1 {
        font-size: 32px;
      }

      .left-image-container {
        width: 677px;
        height: 500px;
      }

      .right-image-container {
        width: 375px;
        height: 500px;
      }
    }
  }
}

@media (max-width: 450px) {
  main {
    .images-container {

      h1 {
        font-size: 28px;
      }

      .line {
        height: 3px;
      }


      .left-image-container {
        width: 677px;
        height: 300px;
      }

      .right-image-container {
        width: 375px;
        height: 350px;
      }

      .bottom-image-container {
        height: 205px;
      }


      .image-container:hover {

        h1 {
          top: 30%;
        }
      }
    }
  }
}