.contact-page {
  max-width: 1080px;
  padding: 60px 0 40px;
  margin: 0 auto;

  h2 {
    text-align: center;
  }

  .contact-container {
    margin-top: 30px;
    display: flex;

    .contact-left {
      width: 50%;
      flex-grow: 1;
      text-align: center;

      .contact-details {
        padding: 20px 0;
      }
    }

    .contact-right {
      width: 50%;
      flex-grow: 1;
      padding: 0 10px;

      form {
        display: flex;
        flex-direction: column;

        input,
        textarea {
          width: 100%;
          padding: 12px;
          border: none;
          background-color: transparent;
          border-bottom: 1px solid #ccc;
          margin-top: 6px;
          margin-bottom: 16px;
          resize: vertical;
          transition: .5s;
        }

        input:focus,
        textarea:focus {
          outline: none;
          border-bottom: 1px solid #000;
        }

        .submit-button {
          cursor: pointer;
          border: none;
          background-color: #F2DA5E;
          border-radius: 20px;
          padding: 12px;
          position: relative;
          overflow: hidden;

          i {
            color: #fff;
            position: absolute;
            right: 10%;
            bottom: -100%;
            font-size: 26px;
            transition: .5s;
          }

          &:hover i {
            right: 5%;
            bottom: 10%;
          }

          &:hover {
            color: #fff;
          }

          &:focus {
            border-bottom: none;
          }
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .contact-page {
    .contact-container {
      flex-direction: column;

      .contact-left {
        width: auto;
      }

      .contact-right {
        width: auto;
        padding: 20px;
      }
    }
  }
}