[data-aos="zoom-in"] {
  opacity: 0;
}

.about-us-page {
  padding-top: 60px;
  margin-bottom: 100px;

  .advantages {
    background-color: #F2DA5E;
    min-height: 400px;

    h2 {
      text-align: center;
      padding-top: 30px;
    }

    .advantages-list {
      max-width: 1080px;
      height: 300px;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      align-items: center;

      div {
        display: flex;
        flex-direction: column;
      }

      p {
        font-size: 22px;
        font-weight: bold;
        text-align: center;
      }

      img {
        margin: 10px auto;
        width: 96px;
      }
    }
  }

  .about-us-container {
    max-width: 1080px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;

    h2 {
      font-size: 26px;
      padding: 15px;
      text-align: center;
    }

    .about-us-container-left {
      width: 68%;
      padding: 10px;

      p {
        font-size: 18px;
        line-height: 32px;
      }
    }

    .about-us-container-right {
      padding: 10px;
      width: 28%;
      overflow: hidden;

      ul {
        list-style: none;
      }

      li {
        line-height: 46px;
        font-size: 20px;

        i {
          padding-right: 10px;
        }
      }
    }
  }
}

@media (max-width: 950px) {
  .about-us-page {
    .about-us-container {
      .about-us-container-left {
        padding: 10px 0 10px 16px;

        p {
          font-size: 16px;
        }
      }

      .about-us-container-right {

        li {
          line-height: 42px;
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 750px) {

  .about-us-page {
    padding-top: 60px;
    margin-bottom: 100px;

    .advantages {
      background-color: #F2DA5E;
      min-height: 600px;

      h2 {
        text-align: center;
        padding-top: 30px;
      }

      .advantages-list {
        max-width: 1080px;
        height: auto;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        div {
          margin: 30px 0;
          display: flex;
          flex-direction: column;
        }

        p {
          font-size: 22px;
          font-weight: bold;
          text-align: center;
        }

        img {
          margin: 20px auto;
        }
      }
    }

    .about-us-container {
      max-width: 1080px;
      margin: 20px auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h2 {
        font-size: 26px;
        padding: 15px;
        text-align: center;
      }

      .about-us-container-left {
        width: auto;
        padding: 30px;

        p {
          font-size: 18px;
          line-height: 32px;
        }
      }

      .about-us-container-right {
        padding: 20px;
        width: auto;
        overflow: hidden;

        ul {
          list-style: none;
        }

        li {
          line-height: 46px;
          font-size: 20px;

          i {
            padding-right: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {

  .about-us-page {
    .advantages {
      h2 {
        padding-top: 30px;
        font-size: 22px;
      }

      .advantages-list {
        p {
          font-size: 20px;
        }

        img {
          margin: 20px auto;
        }
      }
    }

    .about-us-container {
      max-width: 1080px;
      margin: 20px auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h2 {
        font-size: 26px;
        padding: 15px;
        text-align: center;
      }

      .about-us-container-left {
        width: auto;
        padding: 30px;

        p {
          font-size: 18px;
          line-height: 32px;
        }
      }

      .about-us-container-right {
        padding: 20px;
        width: auto;
        overflow: hidden;

        ul {
          list-style: none;
        }

        li {
          line-height: 46px;
          font-size: 20px;

          i {
            padding-right: 10px;
          }
        }
      }
    }
  }
}